/* td,
th {
  text-align: center;
} */
/* .prod__description{
    width:1rem !important;
    border:2px solid green;
} */
/* .error__messages {
  color: red;
  font-size: 0.8rem;
} */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Custom styles */
html {
  font-size: 16px;
}
body {
  font-family: "Open Sans", sans-serif;
}

.container {
  max-width: 1320px;
  width: 100%;
  /* border: 1px solid black; */
  margin: auto;
}

.flex {
  display: flex;
}
.between {
  justify-content: space-between;
}
.center {
  justify-content: center;
}
.align__center {
  align-items: center;
}
.flex__48 {
  flex: 0 1 48%;
}
td,
th {
  border: 1px solid rgba(0, 0, 0, 0.103);
  text-align: center;
  padding: 0.3rem;
  line-height: 1.3;
}
.table th {
  font-weight: bold;
  font-size: 0.8rem;
  background-color: #49997a;
  color: white;
}
.table tr {
  font-size: 0.7rem;
}
input {
  /* border: 1px solid rgb(165, 165, 165); */
  border-radius: 0.2rem;
  width: 100px;
  border: 0;
  outline: none;
  border-radius: 0;
  border-bottom: 1px solid gray;
}

/* tr:nth-child(even) {
  background-color: #d6eeee;
} */
/* Header */
.brand__logo {
  width: 150px;
}
.user__info__img {
  width: 40px;
  cursor: pointer;
}
.brand__name {
  font-size: 1.4rem;
  font-weight: bold;
  color:#fe6e06 !important;
}
.sidebar {
  width: 13rem;
  height: 100vh;
  /* border: 1px solid rgba(0, 0, 0, 0.062); */
  padding: 1rem;
  position: fixed;
  /* top: 5rem; */
  left: 0;
  border-right: 1px solid rgba(128, 128, 128, 0.63);
}
.sidebar__headings {
  font-size: 0.98rem;
  font-weight: bold;
  /* color: #fe6e06; */
}
.navlink {
  color: black;
  text-decoration: none;
  font-size: 0.9rem;
  display: block;
  /* margin-top: 1rem; */
  margin-left: 1rem;
  /* line-height: 2.3; */
  /* border: 1px solid black !important; */
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
}
.navlink:hover {
  background-color: rgba(128, 128, 128, 0.116);
  /* color: white; */
}
.sidebar1 {
  margin-top: 1rem;
}
.header {
  background-color: #f6f9fc;
  position: fixed;
  width: 79.8%;
  top: 0;
  right: 0;
  z-index: 1;
  padding: 1rem;
}
.table__section {
  /* position: absolute; */
  /* right: 0; */
  width: 81%;
  /* top: 6rem; */
  /* padding: 1rem; */
  margin-top: 6rem;
}
.table {
  margin-top: 1rem;
}
.active {
  background-color: rgba(128, 128, 128, 0.116);
}
