html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Custom styles */
html {
  font-size: 16px;
}
body {
  font-family: "Open Sans", sans-serif;
}

.container {
  max-width: 1320px;
  width: 100%;
  /* border: 1px solid black; */
  margin: auto;
}

.flex {
  display: flex;
}
.between {
  justify-content: space-between;
}
.center {
  justify-content: center;
}
.around {
  justify-content: space-around;
}
.align__center {
  align-items: center;
}
.flex__48 {
  flex: 0 1 48%;
}
.flex__20 {
  flex: 0 1 20%;
  /* border: 1px solid green; */
}
.flex__78 {
  flex: 0 1 80%;
}
.width__full {
  width: 100%;
}
td,
th {
  border: 1px solid rgba(0, 0, 0, 0.103);
  text-align: center;
  padding: 0.3rem;
  line-height: 1.8;
}
.table th {
  font-weight: bold;
  font-size: 0.7rem;
  background-color: #49997a;
  color: white;
}
.table tr {
  font-size: 0.65rem;
}
input {
  /* border: 1px solid rgb(165, 165, 165); */
  border-radius: 0.2rem;
  width: 100px;
  border: 0;
  outline: none;
  border-radius: 0;
  border-bottom: 1px solid rgba(128, 128, 128, 0.295);
}

/* tr:nth-child(even) {
  background-color: #d6eeee;
} */
/* Header */
.brand__logo {
  width: 150px;
}
.user__info__img {
  width: 30px;
  cursor: pointer;
}
.brand__name {
  font-size: 1.2rem;
  font-weight: bold;
}
.sidebar {
  /* width: 13rem; */
  height: 94.5vh;
  /* border: 1px solid rgba(0, 0, 0, 0.062); */
  padding: 1rem;
  /* position: fixed; */
  /* top: 5rem; */
  /* left: 0; */
  border-right: 1px solid rgba(128, 128, 128, 0.329);
}
.sidebar__headings {
  font-size: 0.98rem;
  font-weight: bold;
}
.navlink {
  color: black;
  text-decoration: none;
  font-size: 0.9rem;
  display: block;
  /* margin-top: 1rem; */
  margin-left: 1rem;
  /* line-height: 2.3; */
  /* border: 1px solid black !important; */
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
}
.navlink:hover {
  background-color: rgba(128, 128, 128, 0.116);
  /* color: white; */
}
.sidebar1 {
  margin-top: 1rem;
}
.header {
  background-color: #f6f9fc;
  /* position: fixed;
    width: 79.8%;
    top: 0;
    right: 0; */
  z-index: 1;
  padding: 1rem 2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.055);
  /* padding-left:; */
  /* width: 100%; */
}
.table__section {
  /* overflow-y: scroll !important; */
  /* height: 500px; */
  /* border: 1px solid red; */
  margin-top: 1rem;
  padding: 1rem;
}
.table__bottom::-webkit-scrollbar {
  width: 0;
}
.table__bottom {
  margin-top: 1rem;
  overflow-y: scroll !important;
  height: 460px;
}
.active {
  background-color: rgba(128, 128, 128, 0.116);
}
.select__tag {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  background: white;
  background-image: none;
  border: 1px solid #49997a;
  flex: 1;
  padding: 0 0.2em;
  color: black;
  cursor: pointer;
  font-size: 0.9em;
  font-family: "Open Sans", sans-serif;
  border-radius: 0.3em;
}
.select__tag::-ms-expand {
  display: none;
}
.select {
  position: relative;
  display: flex;
  width: 10em;
  height: 1.6em;
  background: #5c6664;
  overflow: hidden;
  border-radius: 0.3em;
  /* margin-left: 1rem; */
}
.select::after {
  content: "\25BC";
  position: absolute;
  /* top: -0.2rem; */
  right: 0;
  padding: 0.4em 0.4em;
  background: #49997a;
  cursor: pointer;
  pointer-events: none;
  transition: 0.25s all ease;
  color: #fff;
}
.select:hover::after {
  color: black;
}
.select__left {
  margin-left: 1rem;
}
option {
  font-size: 1em;
  background-color: #eedad6;
  color: black;
}
.table__bottom {
  border-radius: 6px !important;
}
.brand__name {
  font-size: 1.4rem;
  font-weight: bold;
  color:#fe6e06 !important;
}
